<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>내일배움캠프 | (구)카카오 프로필 만들기</title>
</head>
<body>
    <div class="profile_index">
        <div class="profiie_content">
            <div class="profiie_content_text">            
                <hr style="width: 40px;">
                <p>안녕하세요 저는 보리예요! 저는 2개월이 지난 아기 말티푸랍니다! 저는 먹보이자 장난꾸러기 막내랍니다. 앞으로 잘부탁드려요!</p>
            </div>

        </div>
        <div class ="profile_image">
        </div>
        <div class="profile_userinfo">
            <div class ="profile_userinfo_name"> 
                <p>보리🐶</p>
            </div>
            <div class="profile_userinfo_icons">
                <div><img src="../static/icons/나와의 채팅.png" class="icons"></div>
                <div><img src="../static/icons/프로필관리.png" class="icons"></div>
                <div><img src="../static/icons/카스.png" class="icons"></div>                
            </div>
            <div class="profile_userinfo_text">
                <p> 나와의 채팅 </p>
                <p> 프로필 관리 </p>
                <p> 카카오스토리 </p>
            </div>
        </div>
    </div>
</body>
</html>