<!DOCTYPE html>
<html lang="en" class="root">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/app_style.css">
    <link rel="stylesheet" href="../static/web_style.css">
    
    <title>내일배움캠프|Instagram UI</title>
</head>
<body>
    <div class="nav_container">
        <div class="nav" id ="app_nav">
            <div id="camera"><img src="../static/icons/camera@3x.png" alt=""></div>
            <div id="logo"><img src="../static/icons/insta-logo.png" alt=""></div>
            <div id="dm"><img src="../static/icons/dm@3x.png" alt=""></div>
        </div>
        <div class="nav_web" id = "web_nav">
            <div ><img id="logo_web" src="../static/icons/insta-logo.png" alt=""></div>
            <div class="search">
                <input id="search_input">
                <img id="search_icon"src="../static/icons/search@3x.png" alt="">
                <label for="search_input">검색</label>
            </div>
            <div class="nav_web_icons">
                <div><img id="home_web" src="../static/icons/home@3x.png" alt=""></div>
                <div><img id="dm_web" src="../static/icons/dm@3x.png" alt=""></div>
                <div><img id="trending_web" src="../static/icons/trending@3x.png" alt=""></div>
                <div><img id="like_web" src="../static/icons/like@3x.png" alt=""></div>
                <div><img id="more_web" src="../static/icons/more@3x.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="app_container">
            <div class="top_blank">
                <hr>
            </div>
            <div class="content_container">
    
                <div class="story_container">
                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>
                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>
                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>
                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>
                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>
                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>
                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>
                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>
                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>
                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>
                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>
                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>
                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>

                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>
                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>
                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>
                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>
                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>
                    <div class="story">
                        <div class="story_content"><img src="../static/images/1.png" alt=""></div>
                        <p>내 스토리</p>                        
                    </div>
                </div>
                <div class="feeds_container">
                    <div class="feed">
                        <div class="user">
                            <div class="user_left">
                                <div class="profile"><img src="../static/images/2.png" alt=""></div>
                                <p class="user_name">이용자</p> 
                            </div>
    
                            <div class="more"><img src="../static/icons/more@3x.png" alt=""></div>
                        </div>
                        <img class ="feed_image" src="../static/images/3.png" alt="">
                        <div class="feed_post">
                            <div class="post_icons">
                                <div class="icons_left">
                                    <img id="like" src="../static/icons/like@3x.png" alt="">
                                    <img id="comment" src="../static/icons/comment@3x.png" alt="">
                                    <img id="post_dm" src="../static/icons/dm@3x.png" alt="">
                                </div>
                                <div class="icons_right"><img id="favorite" src="../static/icons/favorite@3x.png" alt=""></div>
                            </div>
                            <div class="feed_like">
                                <div class="like_image"><img src="../static/images/2.png" alt=""></div>
                                <p> <span class="bold_text"> 이용자</span>님 <span class="bold_text">외 6,761명</span>이 좋아합니다.</p>
                            </div>
                            <div class="feed_content">
                                <p class="content_text"><span class="bold_text">이용자</span>   안녕하세요</p>
                            </div>
                            <span class="feed_time">2시간 전</span>
                        </div>
                    </div>
                    <div class="feed">
                        <div class="user">
                            <div class="user_left">
                                <div class="profile"><img src="../static/images/2.png" alt=""></div>
                                <p class="user_name">이용자</p> 
                            </div>
    
                            <div class="more"><img src="../static/icons/more@3x.png" alt=""></div>
                        </div>
                        <img class ="feed_image" src="../static/images/3.png" alt="">
                        <div class="feed_post">
                            <div class="post_icons">
                                <div class="icons_left">
                                    <img id="like" src="../static/icons/like@3x.png" alt="">
                                    <img id="comment" src="../static/icons/comment@3x.png" alt="">
                                    <img id="post_dm" src="../static/icons/dm@3x.png" alt="">
                                </div>
                                <div class="icons_right"><img id="favorite" src="../static/icons/favorite@3x.png" alt=""></div>
                            </div>
                            <div class="feed_like">
                                <div class="like_image"><img src="../static/images/2.png" alt=""></div>
                                <p> <span class="bold_text"> 이용자</span>님 <span class="bold_text">외 6,761명</span>이 좋아합니다.</p>
                            </div>
                            <div class="feed_content">
                                <p class="content_text"><span class="bold_text">이용자</span>   안녕하세요</p>
                            </div>
                            <span class="feed_time">2시간 전</span>
                        </div>
                    </div>
                    <div class="feed">
                        <div class="user">
                            <div class="user_left">
                                <div class="profile"><img src="../static/images/2.png" alt=""></div>
                                <p class="user_name">이용자</p> 
                            </div>
    
                            <div class="more"><img src="../static/icons/more@3x.png" alt=""></div>
                        </div>
                        <img class ="feed_image" src="../static/images/3.png" alt="">
                        <div class="feed_post">
                            <div class="post_icons">
                                <div class="icons_left">
                                    <img id="like" src="../static/icons/like@3x.png" alt="">
                                    <img id="comment" src="../static/icons/comment@3x.png" alt="">
                                    <img id="post_dm" src="../static/icons/dm@3x.png" alt="">
                                </div>
                                <div class="icons_right"><img id="favorite" src="../static/icons/favorite@3x.png" alt=""></div>
                            </div>
                            <div class="feed_like">
                                <div class="like_image"><img src="../static/images/2.png" alt=""></div>
                                <p> <span class="bold_text"> 이용자</span>님 <span class="bold_text">외 6,761명</span>이 좋아합니다.</p>
                            </div>
                            <div class="feed_content">
                                <p class="content_text"><span class="bold_text">이용자</span>   안녕하세요</p>
                            </div>
                            <span class="feed_time">2시간 전</span>
                        </div>
                    </div>
    
                </div>
            </div>
    
            <div class="bottom_blank">
                <hr>
            </div>
        </div>
        <div class="web_container">
            <div class="recommand">
                <div class="recommand_top">
                    <span id = "recommand_span"> 회원님을 위한 추천 </span>
                    <a id = "recommand_text"> 모두보기 </a>
                </div>
                <div class="recommand_users">
                    <div class="recommand_user">
                        <div class="recommand_user_left">
                            <div class="recommand_user_image"><img src="../static/images/2.png" alt=""></div>
                            <div class="recommand_user_text">
                                <p class="recommand_user_text_p">이용자1</p>
                                <span class="recommand_user_text_span">이용자님이 팔로우합니다.</span>
                            </div>
                        </div>
                        <a id = "recommand_user_follow">팔로우</a>
                    </div>
                    <div class="recommand_user">
                        <div class="recommand_user_left">
                            <div class="recommand_user_image"><img src="../static/images/2.png" alt=""></div>
                            <div class="recommand_user_text">
                                <p class="recommand_user_text_p">이용자1</p>
                                <span class="recommand_user_text_span">이용자님이 팔로우합니다.</span>
                            </div>
                        </div>
                        <a id = "recommand_user_follow">팔로우</a>
                    </div>
                    <div class="recommand_user">
                        <div class="recommand_user_left">
                            <div class="recommand_user_image"><img src="../static/images/2.png" alt=""></div>
                            <div class="recommand_user_text">
                                <p class="recommand_user_text_p">이용자1</p>
                                <span class="recommand_user_text_span">이용자님이 팔로우합니다.</span>
                            </div>
                        </div>
                        <a id = "recommand_user_follow">팔로우</a>
                    </div>
                    <div class="recommand_user">
                        <div class="recommand_user_left">
                            <div class="recommand_user_image"><img src="../static/images/2.png" alt=""></div>
                            <div class="recommand_user_text">
                                <p class="recommand_user_text_p">이용자1</p>
                                <span class="recommand_user_text_span">이용자님이 팔로우합니다.</span>
                            </div>
                        </div>
                        <a id = "recommand_user_follow">팔로우</a>
                    </div>
                    <div class="recommand_user">
                        <div class="recommand_user_left">
                            <div class="recommand_user_image"><img src="../static/images/2.png" alt=""></div>
                            <div class="recommand_user_text">
                                <p class="recommand_user_text_p">이용자1</p>
                                <span class="recommand_user_text_span">이용자님이 팔로우합니다.</span>
                            </div>
                        </div>
                        <a id = "recommand_user_follow">팔로우</a>
                    </div>
                    <div class="recommand_user">
                        <div class="recommand_user_left">
                            <div class="recommand_user_image"><img src="../static/images/2.png" alt=""></div>
                            <div class="recommand_user_text">
                                <p class="recommand_user_text_p">이용자1</p>
                                <span class="recommand_user_text_span">이용자님이 팔로우합니다.</span>
                            </div>
                        </div>
                        <a id = "recommand_user_follow">팔로우</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom_nav_container">
        <div class="bottom_nav">
            <div ><img id="home" src="../static/icons/home@3x.png" alt=""></div>
            <div ><img id="search" src="../static/icons/search@3x.png" alt=""></div>
            <div ><img id="trending" src="../static/icons/trending@3x.png" alt=""></div>
            <div ><img id="like" src="../static/icons/like@3x.png" alt=""></div>
            <div ><img id="home" src="../static/icons/home@3x.png" alt=""></div>
        </div>
    </div>
</body>
<script src="../static/index.js">
</script>
</html>