<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title> 내일배움캠프 | 인스타 UI </title>
</head>
<body>
    <div class="head_container">
        <div class="head">
            <img id="icon_camera" src="../static/icons/camera@3x.png" alt="">
            <img id="logo_image" src="https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png" alt="">
            <img id="icon_dm" src="../static/icons/dm@3x.png" alt="">
        </div>
    </div>
    <div class="feed_container">
        <div class="feed_wrap">
            <div class="story">
                <div class="story_content">
                    <div class="story_image"><img src="../static/images/1.png" alt="">
                    </div>
                    <p>이용자</p>
                </div>
                <div class="story_content">
                    <div class="story_image"><img src="../static/images/1.png" alt="">
                    </div>
                    <p>이용자</p>
                </div>
                <div class="story_content">
                    <div class="story_image"><img src="../static/images/1.png" alt="">
                    </div>
                    <p>이용자</p>
                </div>
                <div class="story_content">
                    <div class="story_image"><img src="../static/images/1.png" alt="">
                    </div>
                    <p>이용자</p>
                </div>
                <div class="story_content">
                    <div class="story_image"><img src="../static/images/1.png" alt="">
                    </div>
                    <p>이용자</p>
                </div>    
                <div class="mystory">

                </div>
            </div>
            <div class="feed">
                <div class="feed">
                    <div class="feed_head">
                        <p>프로필 사진</p>
                        <p>이용자</p>
                        <p>더보기</p>
                    </div>
                    <div class="image">
                        <p>사진</p>
                    </div>
                    <div class="content">
                        <div class="icons">
                            <p>좋아요</p>
                            <p>댓글</p>
                            <p>공유</p>
                            <p>북마크</p>
                        </div>
                        <div class="like">
                            <p>프로필 사진</p>
                            <p><span>이용자</span>님 <span>외 6,761명</span>이 좋아합니다</p>
                        </div>
                        <div class="comment">
                            <p><span>이용자</span> 안녕하세요</p>
                        </div>
                        <div class="write_time">
                            8시간 전
                        </div>
                    </div>
                </di>
            </div>
        </div>
    </div>
        
</body>
</html>